@import "./settings";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 45px 90px 0 90px;

    @media screen and (max-width: 1000px) {
        padding: 45px 45px 0 45px;
    }
    @media screen and (max-width: 800px) {
        margin-bottom: 27px;
        padding: 20px 20px 0 20px;
    }

   .header-logo {
        .logo-header {
            width: 100%;
        }

        @media screen and (max-width: 800px) {
            width: 125px;
        }
   }
   .nav-bar {
        .nav-list {
            display: flex;
            gap: 50px;

            @media screen and (max-width: 800px) {
                gap: 20px;
            }

            .nav-li {
                a {
                    color: $red;
                    font-size: 1.5rem;
                    font-weight: 500;

                    @media screen and (max-width: 800px) {
                        font-size: 1rem;
                        text-transform: uppercase;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 0.75rem;
                    }
                }
                .nav-link {
                    text-decoration: none;
                }
                .active-nav-link {
                    text-decoration-color: $red;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 2px;
                }
            }
        }
   } 
}