@import "./settings";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

   .header-logo {
        .logo-header {
            width: 100%;
        }
   }
   .nav-bar {
        .nav-list {
            display: flex;
            gap: 50px;

            .nav-li {
                a {
                    color: $red;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .nav-link {
                    text-decoration: none;
                }
                .active-nav-link {
                    text-decoration-color: $red;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 2px;
                }
            }
        }
   } 
}